html {
  font-size: 10px; 
  color: #f4f4f4;
  background-color: #f5f9fb;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #f5f9fb;
  padding: 0 20px 20px 20px;
}
h1 {
  font-size: 30px;
  font-family: "Mansalva", sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color:ã€€#241a08;
}
p,
li {
  font-size: 16px;
  ling-height: 2;
  letter-spacing: 1px;
  color: #241a08;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
