html {
  font-size: 10px;
  color: #f4f4f4; 
  background-color: #241a08;
}
body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  font-size: 100px;
  font-family: "Mansalva", sans-serif;
  text-align: center;
}
p,
li {
  font-size: 16px;
  ling-height: 2;
  letter-spacing: 1px;
}
